[Unit]
Description=Configure Bazzite for current hardware
After=rpm-ostreed.service
Before=systemd-user-sessions.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/waydroid-config-fix

[Install]
WantedBy=multi-user.target